@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Jomhuria&family=Lugrasimo&family=Lumanosimo&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,200;1,300&display=swap');
html{
        font-family: "Cuprum", sans-serif;
}
*{
    margin: 0;
    padding:0;
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    box-sizing:border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:white;
}
.home{
    background-image:linear-gradient(to right, rgb(7, 7, 58) 30% , black);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.contaner{
    width:90%;
    height:80%;
    background:linear-gradient(to right, rgba(7, 7, 58, 0.797) 30% , rgba(0, 0, 0, 0.483) ),
    url(../image/download.webp);
    background-size:cover;
    border-radius:10px;
}
.contaner:hover{
    background-image:linear-gradient(to right, rgba(7, 7, 58, 0.797) 30% , rgba(0, 0, 0, 0.224) ),
    url(../image/download.webp);
}  
header{
    padding:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:20px;
}
header .logo{
    font-size:35px;
    font-weight:bold;
}
.bur{
    width:30px;
    font-size:20px;
    font-weight:bold;
    color: white;

}
.bur i{
    display:block;
   
}
ul{
    display:flex;
}
ul li{
    padding:10px 30px;
}
a:not(.logo):hover{
    border-bottom:1px solid white;
}
.content{
    width:50%;
    margin-top:30px;
    color:white;
    padding: 20px;
}
.content h1{
    font-size:100px;
    font-weight: bold;
    width:300px;
}
.content p{
    line-height:1.4;
    margin-bottom:30px;
    font-size:20px;
    width:350px;
}
.content a{
    background: white;
    color: black;
    padding:10px 20px;  
    border-radius:10px;
    font-size:25px;
    font-weight: bold;
} 
.content a:hover{
    background: transparent;
    color: white;
    border:1px solid black;
}